* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: arial;
    /*    background-color: #012340;*/
    background: linear-gradient(to right, #141e30, #243b55);
    min-height: 300vh;
}

header.topka {
    height: 100vh;
    background: url("https://images.pexels.com/photos/53621/calculator-calculation-insurance-finance-53621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    background-repeat: no-repeat;

}



header .bg {
    background-color: rgba(74, 115, 140, 0.6);
    height: 100vh;
    padding: 30vh 0;
}

header div.top {
    width: 80vw;
    height: 40vh;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}

div.top h1 {
    font-size: 20vh;
    text-transform: uppercase;
    letter-spacing: 10px;
}

div.top p {
    font-size: 20px;
    ;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 150%;
}

.about {
    ;
    color: #F2F2F2;
    padding: 50px 20px;

}

.wrap {
    max-width: 1600px;
    margin: 0 auto;
}

.about h2 {
    font-size: 60px;
    text-align: center;
    border-bottom: 3px solid #aaa;

    letter-spacing: 2px;
    width: 300px;
    margin: 0 auto 20px;


}

.about p {


    font-size: 22px;
    line-height: 130%;
    text-align: left;
    padding-bottom: 20px;
}

.about p.up {
    text-transform: uppercase;
}

.about p:last-of-type {
    font-weight: bold;
}

.col {
    display: flex;
}

.col .box {
    width: 25vw;
    margin: 0 10px;


}

.col .box div {
    display: flex;
    height: 100%;
    align-items: center;
    background: #F2F2F2;
    padding: 15px 15px;
    text-align: center;
    border-radius: 0 0 80px 8px;
}

.col .box h2 {
    text-align: center;
    background: linear-gradient(to right, #43c6ac, #191654);
    color: white;
    letter-spacing: 2px;
    padding: 20px;
    border-radius: 80px 8px 0 0;
}
